<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

  <servlet>
    <servlet-name>TemplateExample</servlet-name>
    <servlet-class>org.scalatra.TemplateExample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BasicAuthExample</servlet-name>
    <servlet-class>org.scalatra.BasicAuthExample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SocketIOExample</servlet-name>
    <servlet-class>org.scalatra.SocketIOExample</servlet-class>
    <init-param>
      <param-name>flashPolicyServerHost</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>flashPolicyServerPort</param-name>
      <param-value>843</param-value>
    </init-param>
    <init-param>
      <param-name>flashPolicyDomain</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>flashPolicyPorts</param-name>
      <param-value>8080</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Servlet30ChatExample</servlet-name>
    <servlet-class>org.scalatra.Servlet30ChatExample</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>CookiesExample</servlet-name>
    <servlet-class>org.scalatra.CookiesExample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChatApplication</servlet-name>
    <servlet-class>org.scalatra.ChatServlet</servlet-class>
    <init-param>
      <param-name>flashPolicyServerHost</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>flashPolicyServerPort</param-name>
      <param-value>843</param-value>
    </init-param>
    <init-param>
      <param-name>flashPolicyDomain</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>flashPolicyPorts</param-name>
      <param-value>8080</param-value>
    </init-param>
  </servlet>
  <servlet>
      <description>MeteorServlet</description>
      <servlet-name>MeteorServlet</servlet-name>
      <servlet-class>org.atmosphere.cpr.MeteorServlet</servlet-class>
      <async-supported>true</async-supported>
      <init-param>
          <param-name>org.atmosphere.servlet</param-name>
          <param-value>org.scalatra.MeteorChatExample</param-value>
      </init-param>
      <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet30ChatExample</servlet-name>
    <url-pattern>/chat30/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>MeteorServlet</servlet-name>
      <url-pattern>/meteor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChatApplication</servlet-name>
    <url-pattern>/socket.io/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplateExample</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BasicAuthExample</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SocketIOExample</servlet-name>
    <url-pattern>/echoserver/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookiesExample</servlet-name>
    <url-pattern>/cookies-example/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/images/*</url-pattern>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>

  <!--
    Demonstrates how to use Scalatra as a filter rather than as a Servlet.
    Typically, you would run Scalatra as either a servlet or a filter, but
    not both in the same app.
  -->
  <filter>
    <filter-name>FilterExample</filter-name>
    <filter-class>org.scalatra.FilterExample</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterExample</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
