language: scala
scala:
  - 2.11.11
  - 2.12.3
jdk:
  - oraclejdk8
sudo: false
script:
- sbt ++$TRAVIS_SCALA_VERSION test unidoc
- git diff --exit-code
addons:
  apt:
    packages:
      - oracle-java8-installer
