!!! 5
html(lang="en")
  head
    title Scalatra: a tiny Sinatra-like web framework for Scala
  body
    h1 Scalatra      
    :markdown
      Under construction

      Scalatra is a tiny, [Sinatra](http://www.sinatrarb.com/)-like web framework for [Scala](http://www.scala-lang.org/).
      
      ## Quick start (SBT 0.10.x)

      ### Setup (one time)

        1. Install [conscript](https://github.com/n8han/conscript#readme)

               $ curl https://raw.github.com/n8han/conscript/master/setup.sh | sh

        2. Install [giter8](https://github.com/n8han/giter8)

               $ ~/bin/cs n8han/giter8

      ### Scalatra template

        3. Giter8 the Scalatra template

               $ ~/bin/g8 scalatra/scalatra-sbt

        4. Change directory into your clone.

               $ cd my-app

        5. Launch [SBT](https://github.com/harrah/xsbt).

               $ sbt

        6. Start Jetty, enabling continuous compilation and reloading.

               > jetty-run
               > ~prepare-webapp

        7. Browse to http://localhost:8080/.

        8. Start hacking on `src/main/scala/*your name here*.scala`.

      ## Community

      ### Mailing list

      The [scalatra-user](http://groups.google.com/group/scalatra-user) mailing list is open to anybody.  It is the best place to ask questions, so everybody can see the answer.

      ### IRC channel

      For those topics that are easier to discuss in real time, or just to hang out with some fun people, join us on the #scalatra channel on irc.freenode.org.


      Documentation
      ---------------
      
      Try reading the [Book](book/).
