Contributing
============

## There are plenty of ways to [contribute to Scaltara][contributing].

Join us on IRC (#scalatra at irc.freenode.org) if you need help with anything.

[contributing]: http://www.scalatra.com
[issues]: http://github.com/scalatra/scalatra/issues
[forking]: http://help.github.com/forking/
[pull-requests]: http://help.github.com/pull-requests/
