= include("toc.jade")
= include("introduction.jade")
= include("getting_to_know_scalatra.jade")
= include("organizing_your_application.jade")
= include("views.jade")
= include("models.jade")
= include("helpers.jade")
= include("middleware.jade")
= include("testing.jade")
= include("development.jade")
= include("deployment.jade")
= include("contributing.jade")