<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<filter>
		<filter-name>scalatra</filter-name>
		<filter-class>
			net.srirangan.MyScalatraFilter
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>scalatra</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
