:markdown
	Models
	======
	
	While Scalatra does not provide a native structure for models the 
	following persistence libraries are a few that have been successfully integrated.
	
	* [Squeryl](http://squeryl.org/)
	* [Lift Record](http://www.liftweb.com/)
	* [Mongo Record](http://www.assembla.com/spaces/liftweb/wiki/lift-mongodb-record)
	* [Rogue)(http://engineering.foursquare.com/2011/01/21/rogue-a-type-safe-scala-dsl-for-querying-mongodb/)
	