<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

  <filter>
    <filter-name>scalatra</filter-name>
    <filter-class>org.scalatra.www.WebsiteFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>scalatra</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
