<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>Website for scalatra.org</display-name>
  <servlet>
    <servlet-name>ScalatraWebsite</servlet-name>
    <servlet-class>org.scalatra.www.ScalatraWebsite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScalatraWebsite</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/images/*</url-pattern>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>
</web-app>
