<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%4level] [%d{ISO8601}] [%X{sourceThread}] %logger{4} %X{akkaSource}: %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.scalatra" level="DEBUG"/>
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>