<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

  <servlet>
    <servlet-name>TemplateExample</servlet-name>
    <servlet-class>com.thinkminimo.step.TemplateExample</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TemplateExample</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>


</web-app>
