name: build

on:
  push:
    branches: [ 2.7.x ]
  pull_request:
    branches: [ 2.7.x ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]
        Scala: ['2.12.11', '2.13.3']

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Run tests
      run: |
        sbt test ++${{matrix.Scala}} test unidoc
        git diff --exit-code
