name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [17, 21]
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xmx2048M

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: "temurin"
        java-version: ${{ matrix.java }}
    - name: Setup SBT
      uses: sbt/setup-sbt@v1
    - name: Run tests
      run: sbt -v scalafmtCheckAll scalafmtSbtCheck mimaReportBinaryIssues test unidoc
